/* S'applique à toute les balises */
* {
  /* Theme */
  --bg: #1f5b1f;
  --bg-container: #0f380f;

  --text: #fff;

  --accent-primary: #126817;

  /* Propriété */
  transition: all 0.5s ease;
}

/* S'applique à tout le corp de la page */
body {
  margin: 0;
  margin-left: 4rem;
  margin-right: 4rem;
  color: var(--text);
  font-family: Impact, fantasy;
  background-color: var(--bg);
  font-size: 1.1rem;
}

/* Menu principal */
@layer menu {
  body {
    margin-top: 5% !important;
  }

  h1 {
    font-size: 4rem;
      font-weight: 100;
  }
}

/* Propriété réutilisable */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--bg-container);
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.5rem;
  border: solid 1px #000;
}

.button.primary {
  background-color: var(--accent-primary);
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  justify-items: center;
}

.grid-cols-1 {
  grid-column: 1;
}

.gap-1 {
  gap: 1rem;
}

/* Effet */

.button:hover {
  box-shadow: 5px 5px 10px #000;
}
